p {
	color: navy;
}

.info {
	font-size: small;
	background-color: #dfdfdf ;
}

h1 {
	background-color: none;
}

h2 {
	color: #3f3faf;
	font-family: cursive;
	background: linear-gradient(0.25turn, white, #ffefaf);
}

div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 200px;
}

div#zentai > div {
	padding : 5px;
	background-color: #ffefaf;
	margin: 5px;
}
.pic{
	float:right;
}
.shadow {
	color: white;
	text-shadow: navy 1px 0 10px; ;
}